---
---

<!-- *** Header of the web page. Navigation bar, Logo and sub menu. ***-->
<header>
    <!--Logo menu-->
    <button
        aria-controls="mobile-nav-bar"
        aria-expanded="false"
        class="page-logo"
    >
    </button>
    <!--Navigation bar. Desktop version-->
    <nav id="desktop-nav-bar">
        <a href="pages/about.html">ABOUT</a>
        <a href="pages/music.html">MUSIC</a>
        <h1 class="page-mobile-title">
            Saint Levant
            <span class="sub-title">Lover Boy Levant</span>
        </h1>
        <a href="">TOUR</a>
        <a href="">BOOKING</a>
    </nav>
    <!--Navigation bar. Mobile version-->
    <nav class="nav-container">
        <ul id="mobile-nav-bar" data-ver="false" class="mobile-nav-bar flex">
            <li class="active">
                <a href="pages/about.html">ABOUT</a>
            </li>
            <li>
                <a href="pages/music.html">MUSIC</a>
            </li>
            <li>
                <a href="">TOUR</a>
            </li>
            <li>
                <a href="">BOOKING</a>
            </li>
        </ul>
        <h1 class="page-mobile-title">
            Saint Levant
            <span class="sub-title">Lover Boy Levant</span>
        </h1>
    </nav>
    <!--Logo Music. *** DO NOT FORGET TO CHANGE THE WIDTH IN CSS ***-->
    <div class="music-note">
        <img src="/logos/note.png" alt="music logo" />
    </div>
</header>
