---
---

<footer>
    <div class="socials">
        <a href="https://www.instagram.com/saintlevant/" target="_blank"
            ><img src="/logos/instagram.png" alt="" /></a
        >
        <a
            href="https://www.tiktok.com/@saintlevant?is_from_webapp=1&sender_device=pc"
            target="_blank"><img src="/logos/tik-tok.png" alt="" /></a
        >
        <a
            href="https://open.spotify.com/artist/5ZZsFnpO7frU8h5xH1wtjT?si=RB3TwWXCQGGIkBW_DTGE8w"
            target="_blank"
            ><img src="/logos/spotify.png" alt="spotify logo" /></a
        >
    </div>
    <div class="copyright">
        <div class="music-img">
            <img src="/logos/wave-sound.png" alt="" />
        </div>
        <div class="__text">
            <p>Copyright all right reserved. Yefree De Los Santos Valdez.</p>
        </div>
    </div>
</footer>
