---
// footer links
const FOOTER_LINKS = [
  {
    name: "Instagram",
    link: "https://www.instagram.com/saintlevant",
  },
  {
    name: "TikTok",
    link: "/music/",
  },
  {
    name: "youtube",
    link: "/posts/",
  },
  {
    name: "spotify",
    link: "/posts/",
  },
];
---

<footer>
  <ul>
    {
      FOOTER_LINKS.map((link) => (
        <li>
          <a href={link.link} target="_blank">
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
  <small
    >Copyright &copy; all right reserved 2023. Yefree De Los Santos Valdez.</small
  >
</footer>

<style lang="scss">
  footer {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    ul {
      flex: 1;
      display: flex;
    }
    li {
      flex: 1;
    }
    small {
      display: block;
      color: var(--clr-text);
    }
  }
</style>
