---
// footer links
const FOOTER_LINKS = [
  {
    name: 'Instagram',
    link: 'https://www.instagram.com/saintlevant',
  },
  {
    name: 'TikTok',
    link: '/music/',
  },
  {
    name: 'youtube',
    link: '/posts/',
  },
  {
    name: 'spotify',
    link: '/posts/',
  },
];
---

<footer>
  <ul class="socials">
    {
      FOOTER_LINKS.map((link) => (
        <li>
          <a href={link.link} target="_blank">
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="copyright">
    <small>Copyright all right reserved. Yefree De Los Santos Valdez.</small>
  </div>
</footer>

<style lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    color: var(--clr-text);
  }
  footer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  footer .socials img {
    width: 2em;
    aspect-ratio: 1;
    overflow: hidden;
  }
</style>
