---
import Nav from '../components/Nav.astro';
---

<!-- *** Header of the web page. Navigation bar, Logo and sub menu. ***-->
<header>
  <a href="/" aria-label="Go home">
    <img src="/logos/note.png" alt="music logo" />
  </a>
  <Nav />
  <!--Logo Music. *** DO NOT FORGET TO CHANGE THE WIDTH IN CSS ***-->
</header>

<style lang="scss">
  /* test */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 4em;
      aspect-ratio: 1;
    }
  }
</style>
