$fontPrincipal: 'Gambarino', serif;
$paragraphFont: 'Lora', serif;
$titleFont: 'Aktura', serif;

$mobileHeight: 100svh;
$darkPink: #594347;
$lightPink: #F2D5DB;
$mediumPink: #F2AEC1;
$regularPink: #F2ACC6;


div.bio-container {

  padding: 25% 4% 3% 4%;

  display: grid;
  place-items: center;
  align-items: center;
  gap: 1em;

  div.about-title {
    border-top: solid #6c5156a5 1px;
    border-bottom: solid #6c5156a5 1px;
    

    width: 100%;
    text-align: center;
    position: relative;

    h1 {
      font-family: $titleFont;
      font-size: 5.5em;
      letter-spacing: 1px;
      color: #432f33;
      
    }
  }

  div.about-image {
    background-image: url(../../resources/images/hero/hero-bio2.png);
    width: 100%;
    height: 30em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    z-index: 2;

    border-bottom: #432f33 1px solid;
    span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      font-family: $fontPrincipal;
      font-size: 3em;
      font-weight: bold;

      background-image: linear-gradient(rgba(255, 255, 255, 0),  rgba(189, 189, 189, 0.2), rgba(94, 94, 94, 0.6));
      color: white;

      text-align: center;
      align-items: center;
    }
  }

  div.about-bio {
    border-top: solid #6c5156a5 1px;
    border-bottom: solid #6c5156a5 1px;
    padding: 3% 0;

    p {
      font-family: $paragraphFont;
      font-size: 1.6em;
      text-align: justify;
      color: $darkPink;
      font-weight: 700;
    }
  }
}

.about-footer {
  position: relative;
}

@media (min-width:36em) {
  div.bio-container {

    padding: 3% 4% 3% 4%;
  
    div.about-title {
      h1 {
        font-size: 10em;
        
      }
    }
  
    div.about-image {
      height: 35em;
      background-position: top;

      span {
        bottom: 0;
        left: 0;
        right: 0;

      }
    }
  }
  
}

