
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2em;

  color: white;

  font-family: Arial, Helvetica, sans-serif;
  .socials {
    display: flex;
    align-items: center;
    flex-flow: row;

    gap: 5em;

    a {
     overflow: hidden;
    }
    img {
      width: 2em;
      overflow: hidden;
    }
  }
  .copyright {
    display: flex;
    align-items: center;

    gap: 3em;

    img {
      width: 2em;
    }

  }
}

@media (min-width:36em) {
  footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
    padding: 0 2em;
  
    .socials {
      flex: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      
      gap: 2em;
    }
    .copyright {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
  
      gap: 3em;
  
    }
  }
}