$fontPrincipal: 'Gambarino', serif;
$darkPink: #594347;
$lightPink: #F2D5DB;
$mediumPink: #F2AEC1;
$regularPink: #F2ACC6;

// **** Header styles

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  /*
  */
  background-color: #f7ebed2b;

  padding: 0.5em 1em;

  .page-logo {
    z-index: 9999;

    aspect-ratio: 1;
    width: 2rem;

    display: grid;
    place-items: center;
    align-items: center;

    background-image: url(../resources/logos/menu.png);
    background-color: #f2d5db00;
    background-repeat: no-repeat;
    background-size: 25px;
    border: none;

    cursor: pointer;
  }

  // *** Styles Navigation bar DESKTOP
  nav#desktop-nav-bar {
    display: none;

    font-family: $fontPrincipal;
    font-weight: bold;

    a {
      color: #714f55;
      text-decoration: none;

      font-size: 1.8em;
    }

    .page-mobile-title{
      font-size: 3em;
      letter-spacing: 3px;
      .sub-title{
        font-size: 0.6em;
        margin-top: -0.8em;
      }
    }
  }


  // *** Styles Navigation bar MOBILE

  nav.nav-container {
    display: flex;
    flex-flow: row;

    ul#mobile-nav-bar {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
  
    .page-mobile-title {
      display: flex;
      flex-flow: column;
      align-items: center;

      text-align: center;
      font-size: 2.5em;
      font-family: $fontPrincipal;

      color: $darkPink;

      letter-spacing: 3px;
      .sub-title {
        font-size: 0.5em;

        margin-top: -0.8em;
      }
  
    }
  }
  

  @media (max-width:36em) {

    button.page-logo {
      z-index: 9999;
    }

    button.page-logo[aria-expanded="true"] {
      background-image: url(../resources/logos/cross.png);
      background-color: transparent;
    }
   
    nav.nav-container {
      
      ul.mobile-nav-bar {
        position: fixed;
        inset: 0 30% 0 0;
        z-index: 1000;

        display: flex;
        flex-flow: column;
        gap: 2em;

        background-color: rgba(250, 224, 255, 0.4);
        backdrop-filter: blur(1rem);
        padding: min(30vh, 10rem) 2rem;
      
        transform: translateX(-100%);
        transition: all 350ms ease-out;

        a {
          font-family: $fontPrincipal;
          font-size: 3em;
          color: #594347;
        }
      }

      .mobile-nav-bar[data-ver="true"] {
        transform: translateX(0%);
      }
    } 
    }
    

  // *** Styles Navigation bar MOBILE

  .music-note {
    aspect-ratio: 1;
    width: 2rem;
    img {
      width: 28px;
    }
  }
}

@media (min-width:36em) {
  // **** Header styles


  header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  button.page-logo {
    visibility: hidden;
  }
  
  // *** Styles Navigation bar DESKTOP
  nav#desktop-nav-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-shrink: 1;

    a {
      color: #714f55;
      text-decoration: none;

      font-size: 2em;
    }

    .page-mobile-title{
      display: flex;
      flex-flow: column;
      font-size: 2.5em;
      letter-spacing: 5px;
      text-align: center;

      line-height: 0.8em;

      color: #594347;
      .sub-title{
        font-size: 0.5em;
        margin-top: 0;
        letter-spacing: 0;
      }
    }
   
    
  }

  // *** Styles Navigation bar MOBILE

  nav.nav-container {
    display: none;
  }

  // *** Styles Navigation bar MOBILE

}
}