$fontPrincipal: 'Gambarino', serif;
$paragraphFont: 'Lora', serif;
$titleFont: 'Aktura', serif;

$mobileHeight: 100svh;
$darkPink: #594347;
$lightPink: #F2D5DB;
$mediumPink: #F2AEC1;
$regularPink: #F2ACC6;


main.music-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  height: 160svh;
  background-color: #1c1111;
  margin-top: 5.5em;

  section.cover-music-section {
    display: grid;
    grid-template-rows: 1fr auto;

    background-image: linear-gradient(#594347c9, #1c1111);

    .image-info-container {
      display: grid;
      grid-template-areas: 'stack';
      grid-template-rows: auto;
      place-items: end;

      gap: 0;

      img {
        grid-area: stack;
        width: 100%;
        height: 40em;
        object-fit: cover;
      }

      h1 {
        grid-area: stack;

        line-height: 40px;

        font-weight: bold;
        font-family: $fontPrincipal;
        font-size: 4.5em;
        background-image: linear-gradient(rgba(255, 255, 255, 0), $darkPink);


        color: white;
      }
      
    }
  
    .title-music {
      margin-top: 1.5em;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 7%;

      p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.8em;
        color: $lightPink;
      }

      
    }
  
  }

  .music-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

}

@media (min-width:50em){

  main.music-main {
    grid-template-rows: 1fr 1fr;

    margin-top: 2em;
    background-image: linear-gradient(#5f454a7c, #1c1111);

    section.cover-music-section {
      grid-template-columns: 1fr 1fr;

      background-color: #594347;
      /*
      background-image: url(../../resources/images/hero/about-hero-saint-levant.webp);
      */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .image-info-container {
        grid-template-rows: auto 1fr;
        place-items: center;

        img {
          grid-row: 2;

          width: 100%;
          height: auto;
          object-fit: cover;
        }

        h1 {
          grid-row: 1;

          font-size: 4em;
          color: $lightPink;

          background-color: transparent;
        } 
      }
      .title-music {
        align-items: center;
        padding: 0 8%;

        p {
          font-size: 1.7em;
          line-height: 1.9em;
        }
      }
    }
  }  

  .music-section {
    place-items: center;
    align-items: center;

    background-color: #080404;

    iframe {
      width: 80em;
      height: 40em;
    }
  }
}




