@import "SASS/cover";
@import "SASS/header";
@import "SASS/footer";
@import "SASS/about";
@import "SASS/music";

$fontPrincipal: 'Gambarino', serif;
$paragraphFont: 'Lora', serif;
$titleFont: 'Aktura', serif;

$mobileHeight: 100svh;
$darkPink: #594347;
$lightPink: #F2D5DB;
$mediumPink: #F2AEC1;
$regularPink: #F2ACC6;

// ***** General styles
* {
  padding: 0;
  margin: 0;
  
  
  /*
   border: solid 0.5px red; 
  */
}

/*
img {
  width: 2em;
}
*/

body {
  overflow-x: hidden;
  background-image: linear-gradient($lightPink, #fff9fa, $lightPink);
  padding: 0;
}

html {
  font-size: 80%;
}

@media (min-width:36em) {
  html {
    font-size: 95%;
  }

  body {
    padding-top: 3em;
  }
}

a {
  text-decoration: none;
}


