@import "SASS/cover";
@import "SASS/header";
@import "SASS/footer";

$fontPrincipal: 'Gambarino', serif;
$mobileHeight: 100svh;
$darkPink: #594347;
$lightPink: #F2D5DB;
$mediumPink: #F2AEC1;
$regularPink: #F2ACC6;

// ***** General styles
* {
  padding: 0;
  margin: 0;
  
  /*
  border: solid 0.5px red;  
  */
}

img {
  width: 2em;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient($lightPink, $regularPink, $darkPink);
  padding: 0 1%;
}

html {
  font-size: 80%;
}

@media (min-width:36em) {
  html {
    font-size: 95%;
  }

  body {
    padding-top: 3em;
  }
}


