---
// import Layouts
import MainLayout from "../layout/MainLayout.astro";

// import Components

import LetterAnimate from "../components/LetterAnimate.astro";
---

<MainLayout title={"Saint Levant | Home"}>
  <!-- *** Where the important content of the web page goes. Follow the design instructions*** -->
  <LetterAnimate tagType="h1" class="about__h1 cool">
    <span data-text="Marwan">Marwan</span>
    <span data-text="Abdelhamid">Abdelhamid</span>
  </LetterAnimate>
  <section class="about">
    <div class="about__text">
      <LetterAnimate tagType="h2" class="about__h2 cool">
        <span data-text="Biography">Biography</span>
      </LetterAnimate>
      <div class="about__bio">
        <p>
          Marwan Abdelhamid SAINT LEVANT, is a Palestinian / French / Algerian /
          Serbian artist. Born in Jerusalem, and raised in Gaza, Saint Levant
          fuses English, French and Arabic to bring a truly unique take on
          modern global music. Effortless and seductive trilingual wordplay has
          established him as a breakout global star.
        </p>
        <p>
          Inspired by influential Arab thinkers from generations past and
          contemporary artists alike, Saint Levant’s music is nostalgic towards
          the early 2000’s, yet intensely forward thinking, surpassing the
          limits of genre.
        </p>
        <p>
          With his complex worldview, Saint Levant recently launched the 2048
          Fellowship, providing yearly living expenses for young Palestinian
          creatives, as well as his 2048 label imprint, allowing him to remain
          an independent artist.
        </p>
      </div>
    </div>
    <img
      class="about__images"
      src="/images/hero/about-hero.jpg"
      alt="Saint Levant portrait"
    />
    <!-- <div class="about__images">
      <img src="" alt="" /> 
    </div> -->
  </section>
</MainLayout>

<style lang="scss">
  .about,
  .about__text,
  .about__bio {
    display: flex;
    gap: 2rem;
  }
  .about__text,
  .about__bio {
    flex-direction: column;
  }

  .about {
    flex-wrap: wrap;
  }
  .about__text {
    flex-basis: 30em;
    flex-grow: 5;
    padding: 2vh 5vw;
  }
  .about__h1 {
    text-align: center;
  }
  .about__images {
    width: min(100%, 20em);
    flex-grow: 1;
    object-position: top;
    object-fit: cover;
    @media (min-width: 40em) {
      aspect-ratio: 16/9;
    }
  }
</style>
