---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title={"Saint Levant | Home"}>
    <!-- *** Where the important content of the web page goes. Follow the design instructions*** -->
    <div class="bio-container">
        <div class="about-title">
            <h1>Marwan Abdelhamid</h1>
        </div>
        <div class="about-image">
            <span>From Gaza With Love</span>
        </div>
        <div class="about-bio">
            <p>
                Marwan Abdelhamid SAINT LEVANT, is a Palestinian / French /
                Algerian / Serbian artist. Born in Jerusalem, and raised in
                Gaza, Saint Levant fuses English, French and Arabic to bring a
                truly unique take on modern global music. Effortless and
                seductive trilingual wordplay has established him as a breakout
                global star. Inspired by influential Arab thinkers from
                generations past and contemporary artists alike, Saint Levant’s
                music is nostalgic towards the early 2000’s, yet intensely
                forward thinking, surpassing the limits of genre. With his
                complex worldview, Saint Levant recently launched the 2048
                Fellowship, providing yearly living expenses for young
                Palestinian creatives, as well as his 2048 label imprint,
                allowing him to remain an independent artist.
            </p>
        </div>
    </div>
</MainLayout>
