---
// import Layouts
import MainLayout from '../layout/MainLayout.astro';
---

<MainLayout title={'Saint Levant | Home'}>
  <div class="cover" aria-label="Cover for the web page">
    <p>from gaza with love</p>
    <h1>saint levant</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, cumque
      temporibus illo corporis assumenda, dignissimos vitae neque porro ut
      voluptas at accusamus quae consequuntur nemo.
    </p>
    <img src="/images/hero/cover-hero.png" alt="" />
  </div>
</MainLayout>

<style lang="scss">
  .cover {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min(100%, 60em);
    margin-inline: auto;
    gap: 2rem;
    p {
    }
    h1 {
    }
    img {
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: top;
    }
  }
</style>
