---
// import Layouts
import MainLayout from '../layout/MainLayout.astro';
---

<MainLayout title={'Saint Levant | Home'}>
  <div class="cover" aria-label="Cover for the web page">
    <p class="sub-header">from gaza with love</p>
    <h1>saint levant</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, cumque
      temporibus illo corporis assumenda, dignissimos vitae neque porro ut
      voluptas at accusamus quae consequuntur nemo.
    </p>
    <img src="/images/hero/cover-hero.png" alt="" />
  </div>
</MainLayout>

<style lang="scss">
  .cover {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    .sub-header {
      text-transform: capitalize;
      font-style: italic;
    }
    img {
      aspect-ratio: 9/16;
      object-fit: cover;
      object-position: top;
      @media (min-width: 40em) {
        aspect-ratio: 16/9;
      }
    }
  }
</style>
