---
// import Layouts
import MainLayout from "../layout/MainLayout.astro";

//import components
import LetterAnimate from "../components/LetterAnimate.astro";
---

<MainLayout title={"Saint Levant | Home"}>
  <div class="cover" aria-label="Cover for the web page">
    <LetterAnimate tagType="span" class="cool sub-header">
      <span data-text="from">from</span>
      <span data-text="gaza">gaza</span>
      <span data-text="with">with</span>
      <span data-text="love">love</span>
    </LetterAnimate>
    <LetterAnimate tagType="h1" class="cool">
      <span data-text="saint"> saint</span>
      <span data-text="levant"> levant</span>
    </LetterAnimate>
    <p>
      You'll nеver find another Arab that's better than me I know you wanna be a
      part of the family tree But when your legs up on my shoulders it's harder
      to speak But keep talking to me, حياتي She said, "I been all over, hopping
      out of these Range Rovers I'm barely sober, I feel lonely I'm so over The
      people that I'm hanging out with, they're not cultured" She grew up in the
      East, now she's here so we toast To the fact that she made it this far,
      it's not easy She said that I look familiar and she's seen me All over her
      FYP, that might be me Believe me, I tell her حبيبت
    </p>
    <img src="/images/hero/cover-hero.jpg" alt="" />
  </div>
</MainLayout>

<style lang="scss" is:global>
  .cover {
    &,
    .sub-header {
      display: flex;
      gap: 2rem;
      text-align: center;
      justify-content: center;
    }
    flex-direction: column;

    .sub-header {
      text-transform: capitalize;
      font-size: 1.3rem;
      // font-style: italic;
    }
    img {
      aspect-ratio: 9/16;
      object-fit: cover;
      object-position: top;
      @media (min-width: 40em) {
        aspect-ratio: 16/9;
      }
    }

    p {
      padding-inline: 5vw;
    }
  }
</style>
