:root {
  /* Variables */
  /* Color */
  --clr-text: hsl(344, 10%, 86%);
  --clr-text-2: hsl(338, 54%, 19%);
  --clr-cms: hsl(327, 67%, 55%);
  --clr-bg: hsl(300, 0%, 4%);
  --clr-bg-2: hsl(11, 32%, 63%);

  --fnt-hdr: 'Boska';
  --fnt-regular: 'Cabinet Grotesk';
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Cabinet Grotesk', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: 0.5px solid hsl(0, 0%, 20%); */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--clr-text);
  font-family: var(--fnt-dm-sans), Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

a {
  box-shadow: inset 0 0 0 0 var(--clr-text);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 var(--clr-text);
  color: var(--clr-text-2);
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: 'Boska', serif;
  color: var(--clr-text);
}

h1 {
  font-size: clamp(3rem, 7vw, 8rem);
}

h2 {
  font-size: clamp(2rem, 5vw, 6.5rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 1.5;
  color: var(--clr-text);
}

.background {
  position: relative;
  display: grid;
  place-items: center;
  padding: 3vh min(0.5rem, 5vw);
}

.background::after,
.main::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background::after {
  background-image: url('/images/hero/bg-hero.jpg');
  filter: blur(.3rem) grayscale(100%);
}

header,
footer {
  display: flex;
  padding: 1rem;
}

.main {
  position: relative;
  display: grid;
  gap: 3rem;
  width: min(100%, 70em);
  margin-inline: auto;
  background-color: #080404;
  isolation: isolate;
}

.main::after {
  background-image: url('/images/background/bg-image.jpg');
  filter: brightness(15%) grayscale(100%);
}
